* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100vh;
}

main {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px 0;
}

h1, h2 {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.container-colors, .container-animations {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.container-colors div {
    margin: 0 10px;
    text-align: center;
}

.container-colors div button {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    border-radius: 10px;
}

.container-colors div button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.container-animations button {
    margin: 0 10px;
    border: none;
    background: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}

.container-animations button:hover {
    color: black;
    background: white;
    transition: 0.5s;
}